<launch>
  <arg name="config_file" default="$(find knowrob_semantic_map_tools)/config/semantic_map.yaml"/>
  
  <node name="spawn_owl_test" pkg="knowrob_semantic_map_tools" type="spawn_owl_test.py" respawn="false" output="screen">
    <rosparam command="load" file="$(arg config_file)"/>
  </node>
  
  <node name="semantic_map_to_owl" pkg="knowrob_semantic_map_to_owl" type="semantic_map_to_owl_node" respawn="false" output="screen"/>
  
  <param name="initial_package" type="string" value="knowrob_semantic_map_tools"/>
  <node name="json_prolog" pkg="json_prolog" type="json_prolog_node" respawn="false" output="screen"/>
</launch>
