<launch>
  <group ns="semantic_map">
    <arg name="config_file"
         default="$(find knowrob_semantic_map_tools)/config/spawn_owl.yaml"/>
    <arg name="output_file" default="-"/>
    <arg name="output" default="log"/>
    
    <arg name="map_to_owl_output" default="$(arg output)"/>
    <include file="$(find knowrob_semantic_map_tools)/launch/includes/map_to_owl.launch.xml">
      <arg name="output" value="$(arg map_to_owl_output)"/>
    </include>

    <arg name="json_prolog_output" default="$(arg output)"/>
    <include file="$(find knowrob_semantic_map_tools)/launch/includes/json_prolog.launch.xml">
      <arg name="output" value="$(arg json_prolog_output)"/>
    </include>
    
    <include file="$(find knowrob_semantic_map_tools)/launch/includes/spawn_owl.launch.xml">
      <arg name="config_file" value="$(arg config_file)"/>
      <arg name="output_file" value="$(arg output_file)"/>
      <arg name="output" value="$(arg output)"/>
    </include>
  </group>
</launch>
